.managerButton {

    -fx-background-color: transparent;

    -fx-border-radius: 10px;

    -fx-border-color: gray;

    -fx-border-width: 5px;
}

.managerButton:hover{
    -fx-background-color:transparent;
    -fx-border-radius:10px;
    -fx-border-color:#46A3FF;
    -fx-border-width:5px;
}

/**
 * 灰色分隔线
 */
.blankHBox{
    -fx-background-color:#BEBEBE;
}


/**
 * 设置背景透明按钮
 */

.transButton{
    -fx-background-color:transparent;
}

.labelSize{
    -fx-font-size:20px;
}

.confirmButton{
    -fx-text-fill:white;
    -fx-font-family:"微软雅黑";
    -fx-background-color: linear-gradient(#00A600, #009100);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.boldLabel{
    -fx-font-weight: bold;
}

.infoVBox{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-background-color: #BEBEBE;
}

.toLarge:hover{
    -fx-text-fill:#46A3FF;
}

.nameSize{
    -fx-font-size:17px;
}

.buttonBorder{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-background-color: #BEBEBE;
}
