



#registerButton{
	-fx-text-fill:white;
	-fx-font-family:"微软雅黑";
	-fx-background-color: linear-gradient(#00A600, #009100);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#backButton{
	-fx-background-color:transparent;
	-fx-font-family: "Aril Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#manageHBox{
	-fx-background-color:#BEBEBE;
}

#manageLabel{
	-fx-font-family:"Aril Black";
	-fx-font-weight:bold;
	-fx-font-size:21px;
}
