#order,#promotion,#credit,#user,#cancel{
	-fx-background-color:transparent;
}

#manageLabel{
	-fx-font-family:"微软雅黑";
	-fx-font-weight:bold;
	-fx-font-size:21px;
}

#manageHBox{
	-fx-background-color:#BEBEBE;
}

#name{
	-fx-font-size:16px;
}

#vBox{
	-fx-background-color:#BEBEBE;
}

